<ion-header [translucent]="true">
    <ion-toolbar fill="outline">
        <ion-buttons slot="start">
            <ion-menu-button color="success"></ion-menu-button>
            <ion-title class="centro">Juego</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="background">
    <table class="table table-striped">

        <thead>
            <div class="container">
                <h1 style="text-align: center; background: black; color: white; padding: 25px; transform: translateY(15px);">JUEGO EMBED</h1>
            </div>
            <br>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <iframe src="https://papergames.io/es/tres-en-raya" width="400" height="400" frameborder="0" allowfullscreen></iframe>
                </td>
            </tr>
        </tbody>
    </table>
</ion-content>