.button {
    //  background-color: #5e7ccc;
    /* Green */
    border: none;
    color: white;
    // padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

//.button1 {
//background-color: white;
//color: black;
//border: 2px solid #4CAF50;
//}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}

ion-button {
    display: flex;
    flex-flow: row wrap;
}

.input-icono {
    background-image: url('/assets/img/home.jpg');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
}

.input-icono input {
    width: 100%;
    font-size: 0.9em;
    border: none;
}

.input-icono input:focus {
    outline: none;
}

.input-icono2 {
    background-image: url('/assets/img/salir.png');
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
}

* {
    font-family: lato;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    background: #12b41a;
    background: linear-gradient(90deg, #75d67a 0%, #75d67a 100%);
    box-shadow: 0px 1px 10px rgba(129, 255, 98, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}


/*

.menu-header-bg {
    height: 180px;
    width: 350px;
    background: #ac7d27;
    background: linear-gradient(90deg, #cca357 0%, #bb9246e8 100%);
    box-shadow: 0px 1px 10px rgba(202, 176, 60, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}*/

.header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        // border: 7px solid #909e90;
        margin-right: 14px;
    }
    h2 {
        font-weight: 300;
        color: rgb(8, 0, 0);
    }
    p {
        font-size: 12px;
        color: #e4e4e4f8;
        font-weight: 100px;
        letter-spacing: 0.4px;
    }
}

.action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    ion-button {
        text-transform: capitalize;
        font-weight: 300;
        // --background: #3da742;
        //--background: #75d67a;
        --background: #4ed354;
        // --background: #c09340;
        --border-radius: 7px;
        --box-shadow: none;
    }
    ion-icon {
        margin-right: 1px;
    }
}

.menu-items {
    margin: 0px;
    ion-icon {
        margin-right: 20px;
        color: #010d13;
    }
    ion-item {
        padding-left: 20px;
        margin-bottom: 10px;
    }
}

.activate {
    border-left: 5px solid;
    color: #628cff;
    padding-left: 15px;
    ion-icon {
        color: #628cff;
    }
}

h1 {
    font-weight: bold;
    font-size: 100%;
    color: rgb(238, 230, 230);
}

h5 {
    font-weight: bold;
    font-size: 150%;
    //color: rgb(3, 51, 15);
    color: #75d67a;
}

h6 {
    font-size: 77%;
    color: rgb(7, 0, 0);
}

.boton2 {
    //--background: #008f39;
    --background: #010c05;
}

ion-content {
    //   --background: aliceblue;
    //--background: #75d67a86;
}

.menu {
    //   --background: aliceblue;
    --background: #75d67a00;
}

.padre {
    // display: flex;
    align-items: center;
}

.hijo {
    // color: rgb(247, 242, 242);
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 12px;
    width: 50%;
    // line-height: 500px; //Damos 200px de alto para notar el efecto
}

ion-icon {
    // color: rgb(0, 255, 85);
    //color: #75d67a;
    font-weight: bold;
    color: #75d67a;
}

ion-icon2 {
    // color: rgb(0, 255, 85);
    color: #f1f1f1;
}

//fondo
//ion-content.background {
//  --background: url(https://www.xtrafondos.com/wallpapers/vertical/un-campo-471.jpg) 0 0/100% 100% no-repeat;
//  --background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/wheat-stalk-jelly-starnes.jpg) 0 0/100% 100% no-repeat;
//--background: url(../../../assets/img/menu2.jpg) 0 0/100% 100% no-repeat;
//}
ion-menu-toggle {
    --background: #75d67a00;
}

ion-menu-toggle {
    width: 100px;
    --background-color: red;
}

ion-item-divider {
    --background: rgba(233, 233, 233, 0);
    margin: 1px;
}

ion-label {
    font-weight: bold;
    color: rgb(233, 229, 229);
}