<!--<ion-header [translucent]="true">
    <ion-toolbar fill="outline">
        <ion-buttons slot="start">
            <ion-menu-button color="success"></ion-menu-button>
            <ion-title class="centro"></ion-title>
        </ion-buttons>

    </ion-toolbar>
    </ion-header>-->

<ion-header [translucent]="true">
    <div class="contenido">
        Editar Finca
    </div>
</ion-header>

<ion-content class="background">
    <ion-card *ngFor="let f of fincas">
        <ion-card>
            <ion-item>
                <ion-label color="medium" position="floating">Nombre</ion-label>
                <ion-input type="text" [value]="f.fin_nombre" #fin_nombre required clearInput></ion-input>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label color="medium" position="floating">Area</ion-label>
                <ion-input type="text" [value]="f.fin_area" #fin_area required clearInput></ion-input>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label color="medium" position="floating">Descripcion</ion-label>
                <ion-input type="text" [value]="f.fin_descripcion" #fin_descripcion clearInput></ion-input>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label color="medium" position="floating">Administrador</ion-label>
                <ion-input type="text" [value]="f.fin_adm_cedula" #fin_adm_cedula clearInput></ion-input>
            </ion-item>
        </ion-card>
        <br>
        <ion-row>
            <ion-col>
                <ion-button class="boton" type="submit" (click)="Editar( fin_nombre,fin_area,fin_descripcion,fin_adm_cedula)" expand="block">
                    Guardar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-card>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--<ion-back-button defaultHref="/menu/menu/finca" text="Regresar" lot="start" mode="ios" color="⚠" class="izquierdo"></ion-back-button>-->
</ion-content>