<ion-header [translucent]="true">
    <ion-toolbar fill="outline">
        <ion-buttons slot="start">
            <ion-menu-button color="success"></ion-menu-button>
            <ion-title>Inicio</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>


    <ion-content class="background">
        <ion-router-outlet id="main">
        </ion-router-outlet>

        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="">
            </ion-refresher-content>
        </ion-refresher>

        <div class="item">
            <ion-slides page>
                <ion-slide>
                    <ion-slide>
                        <ion-title>
                            <!--   <h1>
                          🖖🏼 Bienvenido a mi app sobre el sector agrícola 🖖🏼
                      </h1>
                       <h2>En esta app podrás hacer muchas cosas sobre el sector agrícola</h2>-->
                            <ion-img src="./assets/img/bienvenidoc.jpg"></ion-img>
                        </ion-title>
                    </ion-slide>
                </ion-slide>

                <ion-slide>
                    <ion-slide>
                        <h6>
                            <div class="padre ">
                                <div class="hijo ">
                                    🧰 Podrás encontrar herramientas como 🧰
                                </div>
                            </div>
                        </h6>
                    </ion-slide>
                </ion-slide>

                <ion-slide>
                    <ion-title>
                        <h1>
                            Productos 🧑‍🌾
                        </h1>
                        <ion-img src="./assets/img/2.jpg"></ion-img>
                    </ion-title>
                </ion-slide>

                <ion-slide>
                    <ion-title>
                        <h1>
                            Proveores 🚚
                        </h1>
                        <ion-img src="./assets/img/p.jpg"></ion-img>
                    </ion-title>
                </ion-slide>

                <ion-slide>
                    <ion-title>
                        <h1>
                            Cultivos 🌾
                        </h1>
                        <ion-img src="./assets/img/4.jpg "></ion-img>
                    </ion-title>
                </ion-slide>

                <ion-slide>
                    <ion-slide>
                        <h3>
                            <div class="padre ">
                                <div class="hijo ">

                                    😎 Y mucho mas 😎

                                </div>
                            </div>
                        </h3>
                    </ion-slide>
                </ion-slide>

            </ion-slides>
        </div>

        <!--  -->
    </ion-content>